activesupport==6.0.0
cucumber~=5.1.2
httpclient
jekyll_test_plugin
jekyll_test_plugin_malicious
memory_profiler
nokogiri~=1.7
rspec
rspec-mocks
rubocop~=1.57.2
rubocop-minitest
rubocop-performance
rubocop-rake
rubocop-rspec
test-dependency-theme
test-theme
test-theme-skinny
test-theme-symlink
test-theme-w-empty-data
